# function

In [1]:
def greet():
    return 'welometo python class'

In [2]:
greet()

'welometo python class'

In [4]:
greet()

'welometo python class'

In [8]:
def greet2(name):
    return f'welcome to python class {name}'
greet2('Ade')

'welcome to python class Ade'

In [9]:
greet2('sam')

'welcome to python class sam'

In [10]:
greet2(input('please enter your name'))

please enter your namedav

'welcome to python class dav'

In [11]:
def posting(age,gender,material):
    if gender == 'f':
        return 'employee will work only in the urban area'
    elif gender == 'm' and age >=20 and age <40:
        return 'emloyee can will only anywhere'
    elif gender == 'm' and age >=40 and age <60:
        return 'employee will work only in the urban area'
    else:
        print('error')
posting(45,'m','y')

'employee will work only in the urban area'

In [13]:
posting(25,'f','N')

'employee will work only in the urban area'

In [14]:
def posting(age,gender,materialS = 'S'):
    if gender == 'f':
        return 'employee will work only in the urban area'
    elif gender == 'm' and age >=20 and age <40:
        return 'emloyee can will only anywhere'
    elif gender == 'm' and age >=40 and age <60:
        return 'employee will work only in the urban area'
    else:
        print('error')
posting(45,'m','m')

'employee will work only in the urban area'

# VARIABLE LENGTH FUNCTION

In [15]:
def average(*num):
    print(type(num))
    avg = sum(num)/len(num)
    print(f'the average of {num} is {avg}')
average(78,69,58,87,44,39)

<class 'tuple'>
the average of (78, 69, 58, 87, 44, 39) is 62.5

In [16]:
numbers = [45,86,56,46,94,78]
average(*numbers)

<class 'tuple'>
the average of (45, 86, 56, 46, 94, 78) is 67.5

# keyword argumetion

In [17]:
def detail(**records):
    print(type(records))
    for key, value in records.items():
        print(key, '::', value)
detail(Name = 'Ade', Gender = 'Male', Age = 35)

<class 'dict'>
Name :: Ade
Gender :: Male
Age :: 35

In [19]:
final = {
    'School':'Ade college',
    'Year':2002,
    'chairman':'Mr bode lawal'
}
detail(**final)

<class 'dict'>
School :: Ade college
Year :: 2002
chairman :: Mr bode lawal